<header id='nav' role='banner'>
  <div id='nav-wrapper'>
    <a href='{{ site.baseurl }}/' id='mobile-logo'>
      <img src='{{ site.image_prefix }}logo-new.png' alt='Logo'>
    </a>
    <span id='nav-mobile-menu' onclick='toggle("nav-menu", "show")'>MENU</span>
    <nav role='navigation'>
      <ul id='nav-menu'>
        <li class='nav-link'>
          <a href='{{ site.baseurl }}/favourites'>
            <i class='fa-star'></i>
            <span>Favourites</span>
          </a>
        </li>
        <li class='nav-link logo'>
          <a href='{{ site.baseurl }}/'>
            <img src='{{ site.image_prefix }}logo-new.png' alt='Logo'>
          </a>
        </li>
        <li class='nav-link' id='basket-summary'
            data-link='"{{ site.baseurl }}/basket"'></li>
      </ul>
    </nav>
  </div>
</header>