<footer class='footer-2' role='contentinfo'>
  <ul>
    <li><a href='{{ site.baseurl }}/about/'>About</a></li>
    <li><a href='{{ site.baseurl }}/deliveries/'>Deliveries</a></li>
    <li><a href='{{ site.baseurl }}/contact/'>Contact</a></li>
  </ul>

  <div class='footer-secondary-links'>
    <ul>
      <li><a href='{{ site.baseurl }}/terms/'>Terms and Conditions</a></li>
    </ul>

    <ul class='footer-social'>
      <li><a href='{{ site.data.store-details.facebook }}' target='_blank'>
        <i class="fa fa-facebook-square"></i>
      </a></li>
      <li><a href='https://twitter.com/{{ site.data.store-details.twitter | replace: '@', ''}}' target='_blank'>
        <i class="fa fa-twitter-square"></i>
      </a></li>
    </ul>
  </div>
</footer>
