<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  {% if page.layout == 'product' %}
    <meta name='description' content='{{ page.name }} only £{{ page.price }}{% if page.purchase_option == 1 %}/100g{% endif %}. Traditional sweets and more at Humbugs Confectionery Store. Specialists in satisfying your sweet tooth!'>
  {% else %}
    <meta name='description' content='{{ site.description }}'>
  {% endif %}

  <title>{% if page.title %}{{ page.title }} | {% elsif page.name %}{{ page.name }} | {% endif %}{{ site.title }}</title>

  <link href='{{ site.baseurl }}/assets/app.css' rel='stylesheet' type='text/css'>
  <link href='{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html', '' }}' rel='canonical'>
  <script async src="//www.google-analytics.com/analytics.js"></script>
</head>