main { @include outer-container; }
#nav { box-shadow: 0 0 1px 1px #333; }
#banner { margin-bottom: -31px; }
#banner-wrapper { position: relative; }

a.logo {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: -30px;
}

.fa-shopping-cart {
  padding-right: 5px;
}

.footer-social { font-size: 1.5em; }

.title {
  font-size: 3em;
  margin: 5px 0 0;
}

.flash {  margin: 0.5em 0; }

.hide { display: none; }
.show { display: block !important; }

/*.wrapper-for-content-outside-of-footer {
  background: repeating-linear-gradient(-18deg,
    rgba(96,109,188,0.02),
    rgba(96,109,188,0.07) 12px,
    rgba(70,82,152,0.18) 12px,
    rgba(70,82,152,0) 13px,
    rgba(141,148,189,0.45) 15px
  );
}*/