main { @include outer-container; }
#nav {
  box-shadow: 0 0 1px 1px #333;
  border-color: #fff;
}

#nav .nav-link a { vertical-align: middle; }

.fa-shopping-cart {
  padding: 0 5px 0 0;
}

.footer-social { font-size: 1.5em; }

.title {
  font-size: 3em;
  margin: 5px 0 0;
}

.flash {  margin: 0.5em 0; }

.hide { display: none; }
.show { display: block !important; }

i {
  @extend .fa;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}

i.add {
  @extend .fa-plus;
  color: #D0A56F;
}

i.added {
  @extend .fa-check;
  color: #56C263;
}

i.favourite, i.favourited {
  color: #F59D54;
  &:hover { color: #F97100; }
}

i.favourite { @extend .fa-star-o; }
i.favourited { @extend .fa-star; }

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;

  @include media($large-screen) { font-size: 4em; }
}

.footer-2 { background: #C8DED9; }

.footer-2 ul li a {
  color: #555555;
  &:focus, &:hover { color: rgba(85, 85, 85, 0.44); }
}
