body { font-family: 'Raleway', sans-serif; }
main { @include outer-container; }
#nav {
  box-shadow: 0 0 1px 1px #333;
  .nav-link a { vertical-align: middle; }

  i {
    font-size: inherit;
    vertical-align: baseline;
    padding: 0;
  }
}

.logo.nav-link img { padding-bottom: 10px; }
#basket-summary i { padding-right: 5px; }

.footer-social { font-size: 1.5em; }

.flash {  margin: 0.5em 0; }

.hide { display: none; }
.show { display: block !important; }

i {
  @extend .fa;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}

i.add {
  @extend .fa-plus;
  color: #D0A56F;
}

i.added {
  @extend .fa-check;
  color: #56C263;
}

i.favourite, i.favourited {
  color: #F59D54;
  &:hover { color: #F97100; }
}

i.favourite { @extend .fa-star-o; }
i.favourited { @extend .fa-star; }

h1, h2 {
  padding-left: 15px;
}

h1 {
  font-size: 3.5em;
  background: #C8DED9;
  margin: 20px 0;
  text-align: left;
}

h2 {
  font-size: 2.5em;
  margin: 0 0 20px;
  background: #FFEFB2;

  span { margin-right: -5px; }
}

h3, h4, h5, h6 {
  font-family: inherit;
}

button, input {
  font-family: Raleway;
}

.footer-2 {
  background: #C8DED9;
  display: block;
}

.footer-2 ul li a {
  color: #555555;
  &:focus, &:hover { color: rgba(85, 85, 85, 0.44); }
}
