.product {
  padding: 10px;

  a {
    color: #333;
    &:hover { color: #333; }
  }

  img {
    margin: auto;
    display: block;
    border: 3px solid #EFEFEF;
    box-shadow: 0 0 1px 1px #BBBBBB;
    border-radius: 3px;
    max-height: 200px;
    margin-bottom: 5px;
  }

  .details {
    @include row;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 1px;
    color: #666;
    text-align: center;
    &.added { background: #C8DED9; }
  }

  .add-button {
    padding: 0 10px 0 0;
    margin: 5px 0 5px 25px;
    box-shadow: 0 0 1px 1px #B3A15E;
    background: #FFEFB2;
    color: #555;

    &:hover {
      i.add { color: #8C6E47; }
    }
  }

  .weight-selector {
    span {
      background: #6A8680;
      box-shadow: 0 0 1px 1px #20493F;
    }
  }

  .subtotal-or-basket-link {
    display: inline-block;
    vertical-align: middle;
    width: 77%;

    .basket-link { display: none; }

    &:hover {
      .subtotal { display: none; }
      .basket-link { display: block; }
    }
  }

  .subtotal {
    border: 1px solid #85A97F;
    background: #EBFFE7;
    border-radius: 2px;
  }

  .basket-link {
    border: 1px solid #7393BE;
    background: #779BCD;
    border-radius: 2px;
    color: #fff;
    &:hover { color: #fff; }
  }

  .fa-shopping-cart {
    font-size: 1em;
    padding: 0 5px 5px;
  }

  input {
    margin-bottom: 0;
  }

  .add-button span {
    display: inline-block;
    vertical-align: middle;
  }
}
