#taxonomies {
  margin-top: 5px;
  box-shadow: 0 0 1px 1px #8E8E8E;
  color: #fff;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 15px;
    line-height: 2em;
    cursor: pointer;
    &:hover { background: rgba(0,0,0,0.2); }
    &.selected { background: rgba(0,0,0,0.4); }
  }
}

#taxonomies-menu { background: #2A4D7C; }
#taxons-menu {
  background: #7196C8;

  @include media($large-screen) {
    padding: 0 200px;
  }
}

#display {
  .product {
    @include shift(1);
    @include span-columns(10);

    @include media($medium-screen) {
      @include span-columns(4 of 12);
      @include omega(3n);
      @include shift(0);
    }

    @include media($large-screen) {
      @include omega-reset(3n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }

  .no-products {
    text-align: center;
    line-height: 750px;
  }
}

#pagination {
  @include shift(2);
  @include span-columns(8);
  padding: 10px 0 25px;
}

#search-and-sort-bar {
  @include row;
}

#search {
  width: inherit;
  float: right;
  margin: 10px 25px;
  input { border-color: #bbb; }
}

#sort {
  float: right;
  ul, li {
    margin-left: 15px;
    display: inline-block;
  }
  li {
    margin: 15px 0;
    padding: 0 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .ascending { @extend .fa, .fa-arrow-circle-up; }
  .descending { @extend .fa, .fa-arrow-circle-down; }
  .selected {
    background: #2A4D7C;
    box-shadow: 0 0 1px 1px #888;
    color: #fff;
  }
  .fa {
    font-size: 0.9em;
    padding-left: 5px;
  }
}
